@media (max-width:500px) {

    body,
    html {
        margin-top: 40px;
    }

    #topmenu div.topmenu .mainlogo img {
        width: 100px;
    }

    .notification img {
        width: 20px;
    }

    .menulist ul li {

        padding: 10px;
    }

    .menulist ul li span img {
        width: 20px;
    }

    .menulist ul li span {
        font-size: 17px;
    }

    .searchbar {
        transform: translateY(-10px);
        width: 90vw;
    }

    .image-slider {
        transform: translateY(0px) !important;
        width: 90vw !important;
    }

    .slider-button {

        padding: 6px 12px !important;
    }

    .options {
        width: 90vw !important;
        margin: 10px 0px;
    }

    .options ul li span img {

        width: 16px;
    }

    .options ul li span p {

        font-size: 12px;
    }

    .videosource {
        width: 90vw !important;
        margin: 4px;
        padding: 16px;
    }

    .videosource .videosource img {
        width: 50px;
    }

    .videolist h3 {
        font-size: 15px;
    }

    .videolist p {
        font-size: 10px;
    }

    .videolist i {
        font-size: 10px;
    }

    .videosourcelogo {
        font-size: 14px;
    }

    .videosourcelogo img {
        width: 22px;
    }


    #ignoubooktitle i,
    #ignoubooktitle p {
        display: flex;
        padding: 0px 3px;
        gap: 10px;

    }

    #ignoubooktitle {
        font-size: 15px;

    }

    .assignmentquestion .type span:nth-child(2) {
        font-size: 13px !important;
    }

    .freeandpaid {
        font-size: 20px;
    }

    .solveassignmentsfiles {

        grid-template-columns: 150px 150px;
    }

    .gradeform {
        flex-wrap: wrap;
    }

    .gradeform .program select {
        width: 80vw
    }

    .gradeform input {
        width: 50vw
    }

    .gradeform input[type='submit'] {
        width: calc(30vw - 20px)
    }

    .gradeform label {
        padding: 5px
    }

    .fullmarksheet .numbers span p:nth-child(3) {
        width: 63px  !important;
    }

    .fullmarksheet .numbers span p:nth-child(4) {
        width: 65px;
    }

    .fullmarksheet .numbers span p:nth-child(2) {
        width: 79px;
    }
    .fullmarksheet #assignmentstatus .numbers span p:nth-child(2) {
        width: 126px;
    }
    .fullmarksheet #assignmentstatus .numbers span p:nth-child(4) {
        width: 74px;
    }
    .fullmarksheet #assignmentstatus .numbers span p:nth-child(1) {
        width: 70px;
    }

    .fullmarksheet .marks {
        font-size: 9px;
    }

    .fullmarksheet .numbers span p:nth-child(1) {
        width: 78px;
    }

    .fullmarksheet .personalinfo span b {
        width: 76px
    }

    .fullmarksheet {
        padding: 3px;
        scale: .8
    }

    .upersidearea .slogan {
        font-size: 11px
    }

    .upersidearea img {
        width: 70px
    }

    .upersidearea .slogan h1 {
        font-size: 16px;
        text-align: center;
    }

    .fullmarksheet .personalinfo {
        font-size: 11px
    }

    .fullmarksheet .title {
        width: 69px;
    }
    #assignmentimg .book{
        flex-direction: column;
        background: -webkit-linear-gradient(rgb(109, 100, 100),rgb(84, 84, 105));
        background: transparent;
        box-shadow: 0 0 10px rgba(165, 165, 184, 0.671);
    }
    #assignmentimg{
        display: flex;
        justify-content: center;
    }
    #assignmentimg img{
        width: 85vw;
        height: auto;
    }
}